.app{
  background:#fceed1; 
   height: 100vh; 
  /* border:solid red;*/
}


.FlexProfileDrawer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -90px;
  margin-right: 25px;
}

.FlexColumnProfile > h1 {
  text-align: center;
}

.FlexProfileDrawerRow {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
}


.FlexColumn {
  display: flex;
  flex-direction: column;
  
 
}

.FlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CommentStyles {
  opacity: 1;
}

.FadeInComment {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 2s
}


.FadeOutComment {
  animation-name: fadeOut;
  animation-timing-function: linear;
  animation-duration: 2s
}


.CardStyles {
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  height: auto;
  width: 75%;
  /* margin-bottom: 10px; */
  margin:auto auto 10px auto;
  padding-bottom: 10px;
  border-radius:10px;
  /* border:solid red; */
}


.notification-num-showpost {
  position:relative;
  padding:5px 9px;
  background-color: #e1b382;
  color: white;
  bottom: 0px;
  right: 2px;
  /* z-index: -1; */
  border-radius: 50%;
  /* border:solid red; */
}

.notification-num-allposts {
  padding-left: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.pagination {
    display: flex;
    padding-left: 0;
    margin: 22px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    z-index: 2;
    color: #1b4060;
    background-color: #eeeeee;
    border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #2c689c;
    border-color: #2c689c;
    cursor: default;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .gibberish_header{
    margin-top: 10px;
    text-align: center;

  }

  .gibber_jabber{
    /* text-decoration: underline; */
  }

  .profile_pic{
    width:75%;
    margin:10px;
  }

  .show_post_body{
    width:75%;
    margin:auto;
    text-align: left;


  }

  .gibber_feed_posts{
    width:75%;
    margin:auto auto 8px auto;
    text-align: justify;
    background-color:#e1b382;
    border-radius: 10px;
    border-style: outset;
    border-color:#e1b382 ;
    

  }

  .header_nav a{
    padding: 10px;
    font-weight: bold;
    /* border:solid blue; */
  }

  .header_nav{
    /* border:solid red; */
    background:#fceed1;
    display:flex;
    justify-content: center;
    padding:5px;
  }

  .header1{
    /* border:solid red; */
  }

 